* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-main);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}